/* Breakpoint demandé */
@media only screen and (max-width: 767px) { 
    
.user-menu, .header-right ul.list-inline {
  text-align: center;
}  
.logo h1 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
} 
.shopping-item {
  float: none;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}  
.navbar-header {
  text-align: center;
}    
    
.navbar-toggle {
    border-color: #fff;
    float: none;
    margin: 10px auto;
}
.navbar-toggle .icon-bar { background: none repeat scroll 0 0 #333 }  
.navbar-collapse.collapse.in {
  background: none repeat scroll 0 0 #f4f4f4;
  position: relative;
  z-index: 99;
} 
.mainmenu-area ul.navbar-nav li a {
  padding: 15px;
}  
.mainmenu-area {position: relative !important}
}
    
.footer-top-area .zigzag-bottom {
  bottom: -153px;
  height: 200px;
}    
.footer-top-area {
  padding: 35px 0 25px;
} 
    
.single-product-widget, .footer-about-us, .footer-menu {
  margin-bottom: 45px;
}  
/*INDEX*/
.imageM1{
    margin-right:1%;
    width: 45%;
}